<!DOCTYPE HTML>
<html>

<head>
  <title>{{ user_var.project_name }} - {% block title %}{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ path_static }}style.css" />
  {% block headtags %}
  {% endblock %}
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">textured_<span class="logo_colour">orbs</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="examples.html">Examples</a></li>
          <li><a href="page.html">A Page</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="banner"></div>
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>June 1st, 2014</h5>
            <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Useful Links</h3>
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{{ path_static }}search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        {% block contentheader %}
          <div id="navigatemenu">
            <div class="pure-menu pure-menu-horizontal">
              <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
              </ul>
            </div>
          </div>

          <div id="search" class="pure-form">
            <form class="frmsearch" method="post" id="frmsearch" action="">
                <span>
                    <input type="text" class="search" placeholder="Search" name="search">
                    <input type="submit" class="btnsearch" value="Search" id="submit" name="submit">
                </span>
            </form>
          </div>

          <div id="topright">
            <a href="/logout">Logout</a>
            |
            <a href="/uhome">Member Home</a>
          </div>
        {% endblock %}

        {% block contentbody %}
          {% for error in errors %}
            <div id="reports">{{ error }}</div>
          {% endfor %}

          {% if title %}
            <h2 class="title">{{ title }}</h2>
          {% endif %}

          {% if subtitle %}
            <div id="subtitle">{{ subtitle }}</div>
          {% endif %}

          {% if body %}
            <div class="body">{{ body|raw }}</div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      {% block footers %}
        <p>
          &copy; 2015 <a href="http://www.articulatelogic.com/">ArticulateLogic.com</a>
          | Design: <a href="mailto:aazhbd@yahoo.com">aazhbd</a>
        </p>
      {% endblock %}
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; textured_orbs | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Website templates</a></p>
    </div>
  </div>
</body>
</html>
